<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BrochureSpaces</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="scripts/styles.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!--<link rel="stylesheet" href="styles_gen.css">-->

    <script type="text/javascript">
        var list_images = [
        {% for image in image_list %}
            ['{{image.server_link}}', 'Test Image'],
        {%endfor%}
        ];
        var backend_server_path = '{{backend_server_path}}'
    </script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <form id="submit_form" action="//0.0.0.0:8081/submit" method="POST"><input type="hidden" id="submit_input" name="html"></form>
    <input type="hidden" id="file_link" value="">
    <input type="hidden" id="access_type" value="">
    <div id="preload">Loading...</div>

    <div id="menu">
        <div id="menu_content">
        <div id="secondary_menu">
            <div id="page_list">
                {% for _title in title %}
                <a class="page_list_item" href="#cutout_{{ loop.index }}"><div class="outer"><div class="inner">{{_title}}</div></div></a>
                {% endfor %}
            </div>
        </div>

            <div class="menu_item" id="pages_button"><img src="images/pages.jpg"/><br/>Pages</div>
            <div class="menu_item" id="add_text"><img src="images/text.jpg"><br>Add Text</div>
            <div class="menu_item" style="position:relative; left:315px">Ready to print? Click...<div id="submit_lightbox_button"></div></div>
            <!--<div class="menu_item" id="zoom_in">Zoom in</div>-->
            <!--<div class="menu_item" id="zoom_out">Zoom out</div>-->
        </div>
    </div>

    <div id="submit_lightbox_outer" style="width: 100%; height: 100%; opacity: 1.0; background-color: black; position: fixed; top: 0; left: 0; z-index: 1999; display: none;">
        <div id="submit_lightbox">
            <div id="close_submit_lightbox" style="position: relative; top: -50px; right: 0px;
            font-weight: 700; font-size: 30px; color: white; z-index: 1230; text-align: right;cursor: pointer">X</div>
            <p style="color:darkred;font-weight: 800">STEP 1. Would you like to pick up or ship your brochures?</p>
            <input type="radio" name="pickup_option" value="pick_up">Pick Up<br>
            <input type="radio" name="pickup_option" value="ship" checked="checked">Shipping<br>
            <div id="submit_button" style="height: 20px; width: 100px; text-align: center; color: white">Finish</div>
        </div>
    </div>

    <div id="lightbox">
        <span id="text_editor_wrapper"><textarea id="text_editor"></textarea></span>
        <div id="image_list">
            <p style="position: absolute;top: -80px; width: 60%;text-align: center;font-weight: 700;margin-right: 20%; margin-left: 20%">Change Thumbnail Size</p>
            <p style="position: absolute;top: -33px; width: 100%;text-align: center;font-weight: 700">Click on any thumbnail to change selected image</p>
            <div id="image_list_slider_container"><div id="image_list_slider"></div></div></div>
    </div>
    <div id="lightbox_outer"><div id="close_lightbox">x</div></div>

    <div id="instructions"><b>STEP 1:</b> Select the page<b>STEP 2:</b> Select an object to format <b>STEP 3:</b> Click to make changes <b>STEP 4.</b> Approve for print and follow checkout steps</div>
    <div id="edit_area">
        {% for src in cutout_src %}
        {% set src_loop = loop.index %}
        {% set src_loop0 = loop.index0 %}
        <div class="cutout_page page_{{ loop.index }}">
            <div class="text_layer"></div>
            <div class="fold_mark_line"></div>
            <img src="{{ src }}" id="cutout_{{ loop.index }}">
            {% for port in view_ports[src_loop0] %}
            <div class="image_div id_{{ src_loop }}_{{ loop.index }} background_img_{{ src_loop }}_{{ loop.index }} edit"></div>
            <div class="image_div_frame id_{{ src_loop }}_{{ loop.index }} edit" data-img="id_{{ src_loop }}_{{ loop.index }}"><div class='edit_icon'>
                <p style="font-weight: 900;position: relative;left: 27px;top: -13px;text-align: center;width: 60px">Edit</p>
            </div></div>
            {% endfor %}
        </div>
        {% endfor %}

        <style>
{{styles_gen}}
        </style>
        <style>
{{print_css}}
        </style>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="scripts/scripts.js"></script>

</body>
</html>