<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BrochureSpaces</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="scripts/styles.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <!--<link rel="stylesheet" href="styles_gen.css">-->

    <script type="text/javascript">
        var list_images = [
        {% for image in image_list %}
            ['{{image.server_link}}', 'Test Image'],
        {%endfor%}
        ];
        var backend_server_path = '{{backend_server_path}}'
    </script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <form id="submit_form" action="//0.0.0.0:8081/submit" method="POST"><input type="hidden" id="submit_input" name="html"></form>
    <input type="hidden" id="file_link" value="">
    <input type="hidden" id="access_type" value="">
    <div id="preload">Loading...</div>

    <div id="menu">
        <div class="menu_item" id="add_text">Add Text</div>
        <!--<div class="menu_item" id="submit_button">Generate PDF</div>-->
        <div class="menu_item" id="zoom_in">Zoom in</div>
        <div class="menu_item" id="zoom_out">Zoom out</div>
        <div id="page_list">
            {% for _title in title %}
            <a class="page_list_item" href="#cutout_{{ loop.index }}"><div class="outer"><div class="inner">{{_title}}</div></div></a>
            {% endfor %}
        </div>
    </div>

    <div id="lightbox">
        <span id="text_editor_wrapper"><textarea id="text_editor"></textarea></span>
        <div id="image_list"><div id="image_list_slider_container"><div id="image_list_slider"></div></div></div>
    </div>
    <div id="lightbox_outer"><div id="close_lightbox">x</div></div>

    <div id="edit_area">
        {% for src in cutout_src %}
        {% set src_loop = loop.index %}
        {% set src_loop0 = loop.index0 %}
        <div class="cutout_page page_{{ loop.index }}">
            <!--<div class="text_layer"></div>-->
            <div class="fold_mark_line"></div>
            <img src="{{ src }}" id="cutout_{{ loop.index }}">
            {% for port in view_ports[src_loop0] %}
            <div class="image_div id_{{ src_loop }}_{{ loop.index }} background_img_{{ src_loop }}_{{ loop.index }} edit"></div>
            <div class="image_div_frame id_{{ src_loop }}_{{ loop.index }} edit" data-img="id_{{ src_loop }}_{{ loop.index }}"><div class='edit_icon'></div></div>
            {% endfor %}
        </div>
        {% endfor %}

        <style>
{{styles_gen}}
        </style>
        <style>
{{print_css}}
        </style>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="scripts/scripts.js"></script>

</body>
</html>