{% for size in cutout_size %}
#cutout_{{ loop.index }} {
    width: {{ size[0] }}%;
    /*height: {{ size[1] }}%;
    position: absolute;
    top: 0px;
    left: 0px;*/
    position: relative;
    margin-left:auto;
    margin-right:auto;
    z-index: 100;
}
.cutout_page.page_{{ loop.index }} {
    width: {{ size[0] }}%;
    /*height: {{ size[1] }}%;*/
}
{% endfor %}

{% set loop_offset = 0 %}
{% for port_data in view_ports %}
{% set port_loop = loop.index %}

{% for port in port_data %}
.id_{{ port_loop }}_{{ loop.index }} {
    position: absolute;
    top: {{port[1] - 0.1}}%;
    left: {{port[0] - 0.1}}%;
    /*width: {{port[2]-port[0]}}%;
    height: {{port[3]-port[1]}}%;*/
    bottom: {{99.85 - port[3]}}%;
    right: {{99.85 - port[2]}}%;
}
.background_img_{{ port_loop }}_{{ loop.index }} {
    {% set image_data = image_list[loop.index0+loop_offset] %}
    background-image: url('{% print image_data['server_link'] %}');
    /*background-size: {{port[2]-port[0]+1}}% {{port[3]-port[1]+1}}%;*/
    background-size: 100% 100%;
}

{% endfor %}
{% set loop_offset = loop.index0 %}
{% endfor %}