<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BrochureSpaces</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles_gen.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <form id="submit_form" action="//0.0.0.0:8081/submit" method="POST"><input type="hidden" id="submit_input" name="html"></form>

    <div id="preload">Loading...</div>

    <div id="menu">
        <div class="menu_item" id="add_text">Add Text</div>
        <div class="menu_item" id="submit_button">Generate PDF</div>
    </div>

    <div id="edit_area">
        <div id="text_layer"></div>
        <img src="{{ cutout_src }}" id="cutout">
        {% for port in view_ports %}
        <div class="image_div id{{ loop.index }}"><div class='change_photo'>Change Photo</div></div>
        {% endfor %}
    </div>


    <div id="lightbox">
        <textarea id="text_editor"></textarea>
        <div id="image_list"></div>
    </div>
    <div id="lightbox_outer"></div>

    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="scripts.js"></script>

</body>
</html>