#edit_area {
    width: {{ cutout_size[0][0] }}px;
    /*height: { cutout_height }px;
    position: absolute;*/
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    /*top: calc(50% - { cutout_height/2 }px);
    left: calc(50% - { cutout_width/2 }px);*/
}
{% for size in cutout_size %}
#cutout_{{ loop.index }} {
    width: {{ size[0] }}px;
    height: {{ size[1] }}px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.cutout_page.page_{{ loop.index }} {
    width: {{ size[0] }}px;
    height: {{ size[1] }}px;
}
{% endfor %}

{% for port_data in view_ports %}
{% set port_loop = loop.index %}
{% set loop_offset = 0 %}
{% for port in port_data %}
.id_{{ port_loop }}_{{ loop.index }} {
    position: absolute;
    top: {{port[1]}}px;
    left: {{port[0]}}px;
    width: {{port[2]-port[0]+2}}px;
    height: {{port[3]-port[1]+3}}px;
    background-image: url({{ image_list[loop.index0+loop_offset] }});
    background-size: {{port[2]-port[0]+1}}px {{port[3]-port[1]+1}}px;
}
{% endfor %}
{% set loop_offset = loop.index0 %}
{% endfor %}