@media print{
@page {
    margin: 0px 0px;
    padding: 0px;
    width: {{ page_size[0][0] }}in;
    height: {{ page_size[0][1] }}in;
}

.text_layer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: {{ page_size[0][0] }}in;
    height: {{ page_size[0][1] }}in;
    /*width: 100%;
    height: 100%;
    border: 1px solid #7069ff;*/
    z-index:1000;
}
.text_div_image{
    display: none;
}

.edit_text{
    position: absolute;
    z-index: 200;
    border: 1px solid black;
    display: inline-block;
}
.edit_text p {
    margin: 5px;
    overflow: hidden;
    border: 1px solid red;
}
.change_photo{
    display: none;
}

.cutout_page{
    page-break-after: always;
}

{% for size in cutout_size %}
#cutout_{{ loop.index }} {
    width: {{ page_size[0][0] }}in;
    /*height: {{ size[1] }}%;
    position: absolute;*/
    top: 0px;
    left: 0px;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    z-index: 100;
    /*border: black 1px solid;*/
}
.cutout_page.page_{{ loop.index }} {
    width: {{ page_size[0][0] }}in;
    /*height: {{ size[1] }}%;
    border: red solid 1px;*/
}
{% endfor %}

}