#preload {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: whitesmoke;
    z-index: 2000;
}
#lightbox {
    /*width: 80%;
    height: calc(100% - 105px - 22px);*/
    background-color: #fffff2;
    z-index: 1000;
    position: fixed;
    top: 175px;

    bottom: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    /*box-shadow: 3px 3px 2px #9e9e9e;*/
}
#lightbox.right{
    left: 50.6%;
    right: 5.6%;
}
#lightbox.left{
    right: 50.6%;
    left: 5.6%;
}
#lightbox_outer {
    background-color: #fffff2;
    z-index: 999;
    top: 90px;
    right: 5%;
    left: 50%;
    bottom: 0px;
    position: fixed;
    display: none;
    box-shadow: 0px 1px 5px 1px #757575;
    /*border-top: 1px solid #fffff2;
    border-radius: 5px;*/
}
#lightbox_outer.right{
    left: 50%;
    right: 5%;
}
#lightbox_outer.left{
    right: 50%;
    left: 5%;
}
#close_lightbox{
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1001;
    width: 150px;
    color: #B48649;
}

#text_editor {
    position: absolute;
    top: 0px;
    left: 0px;
}
.edit_text{
    position: absolute;
    border: 1px black solid;
    z-index: 500;
    display: inline-block;
}
.edit_text p {
    overflow: hidden;
    margin: 5px;
    z-index: 500;
    border: 1px solid red;
}
.text_layer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    /*border: 1px solid #7069ff;*/
}
/*#add_text{*/
    /*position: absolute;*/
    /*top: 20%;*/
    /*bottom: 20%;*/
    /*left: 0%;*/
    /*right: 93%;*/
/*}*/
.text_div_contents{
    /*visibility: hidden;*/
    /*position: absolute;*/
    display: none;
}
.text_div_image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: text;
    /*background: url('http://www.iconspedia.com/dload.php?up_id=221739');*/
}

.edit_text .move_icon{
    position: absolute;
    top: -30px;
    left: -30px;
    background-image: url('http://www.iconspedia.com/dload.php?up_id=221739');
    background-size: 30px 30px;
    height: 60px;
    width: 60px;
    z-index: 500;
    background-color: transparent;
    background-repeat: no-repeat;
}
.edit_text .resize_icon{
    position: absolute;
    bottom: -30px;
    right: -30px;
    background-image: url('http://www.iconspedia.com/dload.php?up_id=124798');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 30px 30px;
    height: 60px;
    width: 60px;
    z-index: 500;
    background-color: transparent;
}
.edit_text .delete_icon{
    position: absolute;
    bottom: -30px;
    left: -30px;
    background-image: url('http://www.iconspedia.com/dload.php?up_id=198559');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 0px 30px;
    height: 60px;
    width: 60px;
    z-index: 500;
    background-color: transparent;
}
.edit_icon{
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url('../images/editicon.jpg');
    background-size: 23px 23px;
    background-repeat: no-repeat;
    height: 23px;
    width: 100px;
    z-index: 500;
    background-color: #fffff2;
    display: none;
    border: 2px solid red;
}
.edit.hover{
    border: 2px indianred solid;
    /*z-index: 200 !important;*/
}
.edit.hover.image_div {
    z-index: 200 !important;
}

#image_list{
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
    margin-top: 10px;
}
#image_list .image{
    height: auto;
    width: 31%;
    margin: 1%;
    /*background-size: 200px auto;
    background-repeat: no-repeat;
    display: inline-block;*/
}
/*#image_list .image:hover{*/
    /*box-shadow: 1px cornflowerblue solid;*/
/*}*/
.change_photo{
    background-color: white;
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 70px;
    top: calc(50% - 20px);
    left: calc(50% - 35px);
    z-index: 300;
}
.image_div_frame{
    z-index: 400 !important;
}
#image_list_slider_container{
    position: absolute;
    left: 20%;
    right: 20%;
    top: -41px;
    /*margin-left: auto;*/
    /*margin-left: auto;*/
    /*width: 90%;*/
    height: 10px;
}


#menu {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    left: 0px;
    /*border-radius: 5px;*/
    background-color: #fffff2;
    z-index: 1001;
    box-shadow: 0px 1px 5px 1px #757575;
}
#menu_content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: 5px;
    /*border: 1px solid black;*/
    position: relative;
}
.menu_item {
    /*background-color: #cfcfcf;*/
    vertical-align: bottom;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
#secondary_menu{
    position: absolute;
    display: inline-block;
    top: 85px;
    left: -50px;
    padding: 15px 7px;
    width: 150px;
    border-radius: 5px;
    background-color: #FFFFF2;
    z-index: 999;
    box-shadow: 0px 1px 5px 1px #757575;
    text-align: center;
}
#page_list{
    /*position: absolute;*/
    /*top: 7px;*/
    /*left: 5%;*/
    /*bottom: 7px;*/
    /*right: 60%;*/
    position: relative;
}
/*#page_list .outer{*/
    /*height: 100%;*/
    /*width: 48%; *//*needs to be dynamic*/
    /*margin-left: 1%;*/
    /*margin-left: 1%;*/
    /*display: inline-block;*/
    /*color: white;*/
    /*background-color: black;*/
    /*position: relative;*/
/*}*/
#page_list .inner{
    position: relative;
    font-size: 20px;
    color: black;
    text-decoration: none;
    /*margin-top: 11px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
/*#zoom_in{*/
    /*position: relative;*/
/*}*/
/*#zoom_out{*/
    /*position: relative;*/
/*}*/
#ready_to_print_button{
    left:0px;
}
#submit_lightbox_button{
    margin: 0px 0;
    background-image: url('../images/aprrove.png');
    background-repeat: no-repeat;
    width: 206px;
    height: 43px;
}
#submit_lightbox_button:hover{
    background-image: url('../images/aprrovemouseover.png');
}
#submit_lightbox_button.mousedown{
    background-image: url('../images/aprrovepress.png');
}
#submit_lightbox {
    width: 800px;
    margin-top: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}


#submit_button {
    background-color: red !important;
    padding: 10px;
    border-radius: 3px;
    margin-top: 30px;
    /*position: absolute;*/
    /*right: 3%;*/
    /*width: 7%;*/
    /*height: 70%;*/
    /*top: 10%;*/
}

#instructions{
    width: 90%;
    text-align: center;
    position: relative;
    top: 110px;
    margin-left: auto;
    margin-right: auto;
    color: red;
}
#instructions b{
    margin-left: 10px;
}
#edit_area {
    width: 90%;
    /*height: { cutout_height }px;
    position: absolute;*/
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    /*top: calc(50% - { cutout_height/2 }px);
    left: calc(50% - { cutout_width/2 }px);*/
}
.image_div {
    /*border: 2px solid black;*/
    position: absolute;
}
.cutout_page{
    display: inline-block;
    margin-bottom: 80px;
    border: 1px #757575 solid;
    page-break-after: always;
    position: relative;
    /*box-shadow: 0px 0px 5px 2px #757575;
    border: 1px black solid;*/
}
.fold_mark_line{
    position: absolute;
    /*height: 100%;*/
    /*width: 50%;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 49.9%;
    border-right: 1px #757575 dashed;
    z-index: 101;
}

a:link{
    text-decoration: none;
}
a:visited {text-decoration: none;}  /* visited link */
a:hover {text-decoration: none;}  /* mouse over link */
a:active {text-decoration: none;}  /* selected link */