#edit_area {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200.0px);
    left: calc(50% - 200.0px);
}
#cutout {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}


.id1 {
    position: absolute;
    top: 37px;
    left: 36px;
    width: 123px;
    height: 104px;
    background-image: url(../test_images/masterbedroom1.jpg);
    background-size: 122px 102px;
}

.id2 {
    position: absolute;
    top: 176px;
    left: 175px;
    width: 159px;
    height: 143px;
    background-image: url(../test_images/lowerlevel5.jpg);
    background-size: 158px 141px;
}
